<a class="waves-effect waves-light btn modal-trigger blue-text text-lighten-4" href="#modal1">Suggestion</a>

 <div id="modal1" class="modal bottom-sheet">
   <div class="modal-content">
    <h4>Suggestions</h4>
     <ul class="collection">
      <% @ex_lists.each do |list| %>
         <li class="collection-item avatar">
          <i class="material-icons circle green">assessment</i>
          <span class="Title"><%= list.name %></span>
          <p><%= list.description %></p>
          <form method='post' action="/copy/<%= list.id %>">
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <button type='submit' class= "btn">+</button>
          </form>
          <!-- <button class="btn" href="/copy" type="post">
            <i class="material-icons top">control_point</i>
          </button> -->
         </li>
       <% end %>
     </ul>
   </div>
   <div class="modal-footer">
     <%= link_to 'Make A New List', new_list_path, class: "modal-action close waves-effect waves-green btn right" %>
   </div>
 </div>