<div class="container">
	<div>
		<h3 class="white-text">Welcome, <%= current_user.email%>!</h3>
	</div>
	
	<div>
			<%= link_to 'New Bucket List', new_list_path %>
			<br />
		  <%= render(partial: 'suggestions') %>
	</div>

	<div class="row">
		<%= render(partial: 'cardsrow')  %>
		<%= render(partial: 'feed') %>
	</div>	
	<%= will_paginate @lists %>
</div>